<div class="form-group form-notification-box">
  <% if (messages && messages.error.length) { %>
  <div class="alert alert-danger" role="alert">
    <ul class="form-notification-box__notifications">
      <% messages.error.forEach(function(error) { %>
      <li>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <%= error.message %>
      </li>
      <% }) %>
    </ul>
  </div>
  <% } %>
</div>
